@charset "UTF-8";

/*
    Typical Device BreakPoints
    --------------------------
    pequenas telas: até 600px
    celular: de 600px até 768px
    tablet: 768px até 992px
    Descktop: 992px até 1200px
    grandes telas: acima de 1200px
*/

@media screen and (min-width: 768px) and (max-width: 992px){
    body{
        background-image: linear-gradient(to top, rgba(0, 255, 255, 0.432), rgba(128, 0, 128, 0.438));
    }

    section#login{
        width: 80vw;
        height: 300px;
    }

    section#login > div#imagem{
        float: left;
        width: 40%;
        height: 100%;
    }

    section#login > div#formulario{
        float: right;
        width: 60%;
    }
}

@media screen and (min-width: 992px){
    body{
        background-image: linear-gradient(to top,  rgba(128, 0, 128, 0.438), rgba(0, 255, 255, 0.432));
    }
    
    section#login{
        width: 90vw;
        height: 300px;
    }

    section#login div#imagem{
        float: right;
        width: 30%;
        height: 100%;
    }

    section#login div#formualrio{
        float: left;
        width: 70%;
    }

    div#formulario > h1{
       font-size: 2em;
    }
    
    div#formulario > p{
        font-size: 1.2em;
    }

    form > div.campo{
        width: calc(100% - 30.2%);
    }

    form > input[type=submit]{
        width: calc(100% - 30.2%);
    }

    form > a.botao{
        width: calc(100% - 30.2%);
    }
}

